/*-----footer-----*/

.bg-footerindex {
  background-color: $base-color;
  width: 100%;
  height: 20px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.redes {
  text-align: end;
  width: 100%;
  direction: calc(100vh - (134px + 52px));
}

.redes {
  a {
    &:hover {
      color: black;
      transition: 0.8s;
    }
  }
}

.derechos {
  justify-content: flex-start;
  width: 100%;
}

/*-----fin de footer-----*/