/*----fondo de Home----*/
.tacita {
    background-image: url(../media/images/fondito.jpg);
  }
  
  /*----fondo del shop----*/
  .cups {
    background-image: url(../media/images/nescafe.jpg);
  }
  
  /*----fondo de sucursales----*/
  .company {
    background-image: url(../media/images/4tipos.jpg);
  }
  
  /*----fondo nosotros----*/
  .co-worker {
    background-image: url(../media/images/worker.jpg);
  }
  
  /*----fondo de capsule----*/
  .capsule {
    background-image: url(../media/images/cal2.jpg);
  }