/*----fondo de Home----*/
.tacita {
    background-image: url(../media/images/torrado2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  } 
  
  /*----fondo del shop----*/
  .cups {
    background-image: url(../media/images/finalm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  /*----fondo de sucursales----*/
  .company {
    background-image: url(../media/images/shopp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }
  
  /*----fondo nosotros----*/
  .co-worker {
    background-image: url(../media/images/shopp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }
  
  /*----fondo de capsule----*/
  .capsule {
    background-image: url(../media/images/cal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }